@model Century21.Models.storedResult

@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "PropertyDetail";
    var last3digit = Model.ml_number.Substring(Model.ml_number.Length - 3);

    var image1 = "http://links.mlslirealtor.com/mlsphotos/FULL/1/" + last3digit + "/" + Model.ml_number + ".jpg";
    var image2 = "http://links.mlslirealtor.com/mlsphotos/FULL/2/" + last3digit + "/" + Model.ml_number + "_2.jpg";
    var image3 = "http://links.mlslirealtor.com/mlsphotos/FULL/3/" + last3digit + "/" + Model.ml_number + "_3.jpg";
    var image4 = "http://links.mlslirealtor.com/mlsphotos/FULL/4/" + last3digit + "/" + Model.ml_number + "_4.jpg";

    var agentImage = "http://www.realproadvantage.com/agentphotos/1/Photo" + Model.list_agent_id + "-1.jpeg";
    //var agentImage = "http://rpengine.realproconsulting.com/agents"+"/" + Model.list_agent_id + ".jpeg";

    var bedtext = "";
    int intdbBeds = 0;
    double doubledbBeds = 0.0;
    var isConverable = Int32.TryParse(Model.beds, out intdbBeds);
    var isConverable2 = double.TryParse(Model.beds, out doubledbBeds);

    if (isConverable || isConverable2)
    {
        if (1 >= intdbBeds || 1 >= doubledbBeds)
        {
            bedtext = "bed";
        }
        else
        {
            bedtext = "beds";
        }
    }
    var bathtext = "";
    int intdbBaths = 0;
    double doubledbBaths = 0.0;
    var isConverableBaths = Int32.TryParse(Model.beds, out intdbBaths);
    var isConverableBaths1 = double.TryParse(Model.beds, out doubledbBaths);

    if (isConverableBaths || isConverableBaths1)
    {
        if (1 >= intdbBaths || 1 >= doubledbBaths)
        {
            bathtext = "Bath";
        }
        else
        {
            bathtext = "Baths";
        }
    }
}

<style>
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: white; /* adjust as needed */
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }

    .carousel-inner > .item > img {
        margin-top: 0px;
    }

    .Landscape {
        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    }
</style>
<div id="dvPrint">
    <div class="container">
        <div>
            @*<input type="button" id="btnNext" value="Next" />
                <input type="button" id="btnPrevious" value="Previous" />*@
            @if (Model.IsNextVisible)
            {
                <a class="glyphicon glyphicon-circle-arrow-right bacK_btn pull-right" style="font-size: 16px; margin-top:12px" href="@Url.Action("Listings", "Home", new { index =Model.currentIndex+1, mlnumber = Model.nextmlNumber, cityName=Model.nextCity })">Next</a>
            }
            @if (Model.IsPrevVisible)
            {
                <a class="glyphicon glyphicon-circle-arrow-left bacK_btn" style="font-size: 16px;" href="@Url.Action("Listings", "Home", new { index = Model.currentIndex - 1, mlnumber = Model.prevmlNumber, cityName = Model.prevCity })">Previous</a>
            }
            @*<button id="btnPreviousAddress" class="bacK_btn" value="Previous">
                <span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 16px;"></span> Previous
            </button>
            <button id="btnNextAddress" class="bacK_btn pull-right" title="back" style="  margin-top: -3px;">
                Next
                <span class="glyphicon glyphicon-circle-arrow-right" style="font-size: 16px;"></span>
            </button>*@
        </div>
        @*<button id="btnBack" class="bacK_btn" title="back"><span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 16px;"></span> Back</button>*@

        <div id="dvPrint1" class="row" style="margin:0;">

            <div style="background-color:#DDD;  font-size: 12px;" class="col-xs-12 address-bar">
                <div class="col-xs12 col-sm-4">
                    <div>
                        <div class="" style="color: #1B5098;font-weight: bold;font-size: 14px; line-height:1.7; border-bottom: 1px solid #DDD;">Address</div>
                        <div>
                            <span style="font-weight: bold;" id="streetName">@Html.DisplayFor(m => m.street),</span>
                            <span style="font-weight: bold;" id="Address">@Html.DisplayFor(m => m.county),</span>
                            <span id="CityZip"></span>@Html.DisplayFor(m => m.state),Zipcode:@Html.DisplayFor(m => m.zip)
                        </div>

                    </div>
                </div>
                <div class="col-xs12 col-sm-4">
                    <div>
                        <div class="" style="color: #1B5098;font-weight: bold;font-size: 14px;border-bottom: 1px solid #DDD;line-height:1.7;">Price</div>
                        <div style="font-weight: bold;"><span id="listprice">@String.Format("{0:C}", Model.list_price)</span></div>
                    </div>
                </div>
                <div class="col-xs12 col-sm-2">
                    <div>
                        <div class="" style="color: #1B5098;font-weight: bold;font-size: 14px;border-bottom: 1px solid #DDD;line-height:1.7;">Beds</div>
                        <div style="font-weight: bold; "><span id="Beds">@Model.beds</span></div>
                    </div>
                </div>
                <div class="col-xs12 col-sm-2">
                    <div>
                        <div class="" style="color: #1B5098;font-weight: bold;font-size: 14px;border-bottom: 1px solid #DDD;line-height:1.7;">Bath</div>
                        <div style="font-weight: bold; padding-left:15px;"><span id="Bath">@Model.baths </span></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dvPrint2" class="row" style="margin: 0; padding: 10px;">
            <div id="myCarouseltest" class="col-md-6 carousel slide" data-ride="carousel" style="padding:0">
                <div class="carousel-inner">

                    <div class="item active">
                        <img id="ImageOfSuite" src=@image1 style="height:50%; width:50%">
                    </div>
                    <div class="item ">
                        <img id="ImageOfSuite" src=@image2 style="height:50%; width:50%">
                    </div>
                    <div class="item ">
                        <img id="ImageOfSuite" src=@image3 style="height:50%; width:50%">
                    </div>
                    <div class="item ">
                        <img id="ImageOfSuite" src=@image4 style="height:50%; width:50%">
                    </div>
                </div>

                <ul class="nav nav-pills nav-justified popup-slider-imgs" style="border: 2px solid #DDD;padding: 10px;margin-top: 0px;border-top: 0px;">
                    <li data-target="#myCarouseltest" data-slide-to="0" class="active">
                        <img id="SuiteImage" src="@image1" style="width: 70px; height: 55px;">
                    </li>
                    <li data-target="#myCarouseltest" data-slide-to="1" class="active">
                        <img id="SuiteImage" src="@image2" style="width: 70px; height: 55px;">
                    </li>
                    <li data-target="#myCarouseltest" data-slide-to="2" class="active">
                        <img id="SuiteImage" src="@image3" style="width: 70px; height: 55px;">
                    </li>
                    <li data-target="#myCarouseltest" data-slide-to="3" class="active">
                        <img id="SuiteImage" src="@image4" style="width: 70px; height: 55px;">
                    </li>
                </ul>
                <a class="left carousel-control" href="#myCarouseltest" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarouseltest" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                @if (Model.latitude != null && Model.longitude != null)
                {
                    <div class="row" style="margin: 0">
                        <div>
                            <div id="map-canvas_marker" style="width: 100%;height: 280px;margin-top:10px;">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                @if (ViewBag.AgentInfo != null)
                {
                    using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)

                        <div class="row" style="margin: 0;border: 1px solid #DDD;border-radius: 5px;">
                            <div id="AgentDetail">
                                <div class="col-xs-12" style="padding-top:10px;">
                                    <span style="color: #1B5098;font-weight: bold;font-size: 16px;">Agent Detail</span>
                                    @*<p>Agent Detail</p>*@
                                    <table>
                                        <tr>
                                            <td>Name</td>
                                            <td>:</td>
                                            <td>@ViewBag.AgentInfo.AGENT_FNAME @ViewBag.AgentInfo.AGENT_LNAME</td>
                                        </tr>
                                        <tr>
                                            <td>Phone No</td>
                                            <td>:</td>
                                            <td>@ViewBag.AgentInfo.AGENT_PHONE</td>
                                        </tr>
                                        <tr>
                                            <td>Email Address</td>
                                            <td>:</td>
                                            <td>@ViewBag.AgentInfo.AGENT_EMAIL</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    @*<img src="/Images/user_icon.png" alt="" class="center-block img-circle img-thumbnail img-responsive" style="width: 150px;border-radius: 10px;height: 155px;padding-bottom: 20px;">*@
                                    @*@if (ViewBag.AgentInfo.AGENT_ImageNew != null)
                                        {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(ViewBag.AgentInfo.AGENT_ImageNew)" alt="" class="center-block img-circle img-thumbnail img-responsive" style="width: 150px;border-radius: 10px;height: auto;" />
                                        }
                                        else
                                        {
                                            <img src="~/uploadedFiles/user_icon.png" alt="" class="center-block img-circle img-thumbnail img-responsive" style="width: 150px;border-radius: 10px;height: auto;" />

                                        }*@
                                    @if (ViewBag.AgentInfo.AGENT_ImageNew != null)
                                    {
                                        <img src="@agentImage" alt="" class="center-block img-circle img-thumbnail img-responsive" style="width: 150px;border-radius: 10px;height: auto;" />
                                    }
                                    else
                                    {
                                        <img src="@agentImage" alt="" class="center-block img-circle img-thumbnail img-responsive" style="width: 150px;border-radius: 10px;height: auto;" />

                                    }

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div><input type="button" class="btn btn-primary button-style" value="Contact Me" style="margin-bottom:3px;" onclick="AgentContact(@Model.list_agent_id)" /></div>
                                <div>
                                    <input type="button" class="btn btn-primary button-style" value="My Listings" style="margin-bottom:3px;" onclick="AgentListings(@Model.list_agent_id)" />
                                </div>
                                <div>
                                    <input type="button" class="btn btn-primary button-style" value="My Sales" style="margin-bottom:3px;" />
                                </div>
                                <div>
                                    <input type="button" class="btn btn-primary button-style" value="My Reviews" style="margin-bottom:3px;" />

                                </div>
                            </div>

                        </div>

                    }
                }
                else
                {
                    <div>No related agent found for this property</div>
                }
                <div class="row agent-details-img" style="margin: 0;border: 1px solid #DDD;border-radius: 5px; padding:15px; margin-top:10px; padding-bottom:0;">
                    <div style="font-weight:bold;  color: #1B5098; font-size:16px;">Request More Information</div>
                    <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="user" id="txtName" value="" placeholder="Your Name">
                        </div>


                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" id="txtFromEmail" class="form-control" name="Email" placeholder="Email">
                        </div>

                        <div class="input-group" style="width: 100%">
                            <textarea class="form-control" id="txtAreaQuery" style="border-radius: 3px;" placeholder="Enter Your Message"></textarea>
                        </div>

                    </form>

                    <div>Image Verification:</div>

                    <div class="input-group">
                        <label id="mainCaptcha" style="background-color:skyblue;  font-size: 20px;width: 150px;height: 30px;text-align: center;"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                        <input type="image" id="refresh" src="~/Images/Refresh-icon.png" width="25" height="20" />
                    </div>


                    <div class="input-group">
                        <input type="text" id="txtInput" class="form-control" name="Captcha" value="" placeholder="Enter Image Text" style="width: 200px;border-radius: 5px;" />
                    </div>

                    <div>
                        <input type="button" id="btnSendAgentEmail" class="btn btn-primary  button-style" value="Submit" style="margin-top: 0px;margin-bottom: 5px;" />
                    </div>
                </div>
                @*<div class="agent-details-icons">

                        <img src="~/Images/facebook.png" style="width:40px" />
                        <img src="~/Images/google.png" style="width:40px" />
                        <img src="~/Images/twitter-img.png" style="width:40px" />
                    </div>*@
                @*<div id="dvPrintListing" style="margin-top:45px; text-align:right">
                        <a href="#" id="printagent">
                            <img src="~/Images/print.png" width='20px' /> Print Listing
                        </a>
                    </div>*@
            </div>
        </div>

        <div class="container" style="margin: 0">
        </div>

        @*TODO: Implement the new design sent by bala to your mail and put the code here*@


        <div id="dvPrint3" class="accordion-div" style="margin-bottom: 15px">
            <div class="panel-group" id="accordion">

                @if (!String.IsNullOrEmpty(Model.adtext))
                {
                    <div id="dvPropertyDescription" class="panel panel-primary">
                        <div class="panel-heading" style="padding: 10px 20px;">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseeight">Property Description</a>
                                <div class="bgimg3"></div>
                            </h4>
                        </div>
                        <div id="collapseeight" class="panel-collapse collapse in">
                            <div class="panel-body">

                                @*<h4 class="title"><b>Description</b></h4>*@
                                <ul>
                                    <li>@Html.DisplayFor(m => m.adtext) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }


                <div id="" class="panel panel-primary">
                    <div class="panel-heading" style="padding: 10px 20px;">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">Interior Features</a>
                            <div class="bgimg1"></div>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">

                            @if (!String.IsNullOrEmpty(Model.dining_room) || !String.IsNullOrEmpty(Model.baths) || !String.IsNullOrEmpty(Model.baths_full) || !String.IsNullOrEmpty(Model.baths_half) || !String.IsNullOrEmpty(Model.baths_tq))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.baths) || !String.IsNullOrEmpty(Model.baths_full) || !String.IsNullOrEmpty(Model.baths_half) || !String.IsNullOrEmpty(Model.baths_tq))
                                    {
                                        <h4 class="title"><b>Bathroom Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.baths))
                                            {
                                                <li>Total Bathsaths: @Html.DisplayFor(m => m.baths)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.baths_full))
                                            {
                                                <li>Full Bathrooms:@Html.DisplayFor(m => m.baths_full)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.baths_half))
                                            {
                                                <li>Half Bathrooms:@Html.DisplayFor(m => m.baths_half)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.baths_tq))
                                            {
                                                <li>3/4 Baths:@Html.DisplayFor(m => m.baths_tq)</li>
                                            }
                                        </ul>
                                        <br />
                                    }
                                    @if (!String.IsNullOrEmpty(Model.dining_room) || !String.IsNullOrEmpty(Model.kitchen) || !String.IsNullOrEmpty(Model.num_kit))
                                    {
                                        <h4 class="title"><b>Dining&kitchen</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.dining_room))
                                            {
                                                <li>Dinning Room:@Html.DisplayFor(m => m.dining_room)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.kitchen))
                                            {
                                                <li>Kitchen type:@Html.DisplayFor(m => m.kitchen)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.num_kit))
                                            {
                                                <li>Number of Kitchens:@Html.DisplayFor(m => m.num_kit)</li>
                                            }

                                        </ul>
                                    }

                                    @if (!String.IsNullOrEmpty(Model.refrigerator) || !String.IsNullOrEmpty(Model.dishwasher) || !String.IsNullOrEmpty(Model.stove) || !String.IsNullOrEmpty(Model.washer) || !String.IsNullOrEmpty(Model.dryer))
                                    {
                                        <h4 class="title"><b>Appliances</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.refrigerator))
                                            {
                                                <li>Refrigerator:@Html.DisplayFor(m => m.refrigerator)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.dishwasher))
                                            {
                                                <li>dishwasher:@Html.DisplayFor(m => m.dishwasher)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.stove))
                                            {
                                                <li>Stove:@Html.DisplayFor(m => m.stove)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.washer))
                                            {
                                                <li>Washer:@Html.DisplayFor(m => m.washer)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.dryer))
                                            {
                                                <li>Dryer:@Html.DisplayFor(m => m.dryer)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }


                            @if (!String.IsNullOrEmpty(Model.fireplaces) || !String.IsNullOrEmpty(Model.sqft) || !String.IsNullOrEmpty(Model.living_room) || !String.IsNullOrEmpty(Model.office) || !String.IsNullOrEmpty(Model.carpet) || !String.IsNullOrEmpty(Model.woodfloors) || !String.IsNullOrEmpty(Model.heat))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">

                                    <h4 class="title"><b>Interior Features</b></h4>
                                    <ul>
                                        @if (!String.IsNullOrEmpty(Model.fireplaces))
                                        {
                                            <li>Fire Places:@Html.DisplayFor(m => m.fireplaces)</li>
                                        } @if (!String.IsNullOrEmpty(Model.sqft))
                                        {
                                            <li>Approx.Interior sqft:@Html.DisplayFor(m => m.sqft)</li>
                                        } @if (!String.IsNullOrEmpty(Model.living_room))
                                        {
                                            <li>Living Room:@Html.DisplayFor(m => m.living_room)</li>
                                        } @if (!String.IsNullOrEmpty(Model.office))
                                        {
                                            <li>Office:@Html.DisplayFor(m => m.office)</li>
                                        } @if (!String.IsNullOrEmpty(Model.carpet))
                                        {
                                            <li>Carpet:@Html.DisplayFor(m => m.carpet)</li>
                                        } @if (!String.IsNullOrEmpty(Model.woodfloors))
                                        {
                                            <li>Wood Floors:@Html.DisplayFor(m => m.woodfloors)</li>
                                        }

                                    </ul>

                                    @if (!String.IsNullOrEmpty(Model.heat) || !String.IsNullOrEmpty(Model.heat_units) || !String.IsNullOrEmpty(Model.hot_wt) || !String.IsNullOrEmpty(Model.fuel) || !String.IsNullOrEmpty(Model.ac) || !String.IsNullOrEmpty(Model.caczones) || !String.IsNullOrEmpty(Model.amps) || !String.IsNullOrEmpty(Model.sprinklers))
                                    {
                                        <h4 class="title"><b>Heating,Cooling&Mechanical</b></h4>
                                        <ul>

                                            @if (!String.IsNullOrEmpty(Model.heat))
                                            {
                                                <li>Heat Type:@Html.DisplayFor(m => m.heat)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.heat_units))
                                            {
                                                <li>Number of Heating Zones:@Html.DisplayFor(m => m.heat_units)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.hot_wt))
                                            {
                                                <li>Separate Hot Water Heater:@Html.DisplayFor(m => m.hot_wt)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.fuel))
                                            {
                                                <li>Type of Fuel:@Html.DisplayFor(m => m.fuel)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.ac))
                                            {
                                                <li>Air Conditioning:@Html.DisplayFor(m => m.ac)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.caczones))
                                            {
                                                <li>Air Cond Zones:@Html.DisplayFor(m => m.caczones)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.amps))
                                            {
                                                <li>Amperage:@Html.DisplayFor(m => m.amps)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.sprinklers))
                                            {
                                                <li>Sprinklers:@Html.DisplayFor(m => m.sprinklers)</li>
                                            }

                                        </ul>
                                    }
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.handicap) || !String.IsNullOrEmpty(Model.handicap_desc) || !String.IsNullOrEmpty(Model.rooms) || !String.IsNullOrEmpty(Model.attic) || !String.IsNullOrEmpty(Model.basement) || !String.IsNullOrEmpty(Model.basement_finished) || !String.IsNullOrEmpty(Model.basement_descr) || !String.IsNullOrEmpty(Model.basement_slfr) || !String.IsNullOrEmpty(Model.level1) || !String.IsNullOrEmpty(Model.level2) || !String.IsNullOrEmpty(Model.level3))
                            {

                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.handicap) || !String.IsNullOrEmpty(Model.handicap_desc))
                                    {
                                        <h4 class="title"><b>Handicap Features</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.handicap))
                                            {
                                                <li>Handicap accessible:@Html.DisplayFor(m => m.handicap)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.handicap_desc))
                                            {
                                                <li>Handicap Description: @Html.DisplayFor(m => m.handicap_desc)</li>
                                            }
                                        </ul>
                                    }

                                    <br />
                                    @if (!String.IsNullOrEmpty(Model.rooms) || !String.IsNullOrEmpty(Model.attic) || !String.IsNullOrEmpty(Model.basement) || !String.IsNullOrEmpty(Model.basement_finished) || !String.IsNullOrEmpty(Model.basement_descr) || !String.IsNullOrEmpty(Model.basement_slfr) || !String.IsNullOrEmpty(Model.level1) || !String.IsNullOrEmpty(Model.level2) || !String.IsNullOrEmpty(Model.level3))
                                    {
                                        <h4 class="title"><b>Room Level Information</b></h4>
                                        <ul>

                                            @if (!String.IsNullOrEmpty(Model.rooms))
                                            {
                                                <li>Number Of Rooms:@Html.DisplayFor(m => m.rooms)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.attic))
                                            {
                                                <li>Attic:@Html.DisplayFor(m => m.attic)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.basement))
                                            {
                                                <li>Basement Type:@Html.DisplayFor(m => m.basement)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.basement_finished))
                                            {
                                                <li>Finished Basement:@Html.DisplayFor(m => m.basement_finished)</li>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.basement_descr))
                                            {
                                                <li>Basement Description:@Html.DisplayFor(m => m.basement_descr)</li>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.basement_slfr))
                                            {
                                                <li>Basement:@Html.DisplayFor(m => m.basement_slfr)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.level1))
                                            {
                                                <li>First Floor:@Html.DisplayFor(m => m.level1)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.level2))
                                            {
                                                <li>Second Floor:@Html.DisplayFor(m => m.level2)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.level3))
                                            {
                                                <li>Third Floor:@Html.DisplayFor(m => m.level3)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding: 10px 20px;">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">Exterior Features</a>
                            <div class="bgimg2"></div>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">

                            @if (!String.IsNullOrEmpty(Model.water) || !String.IsNullOrEmpty(Model.sewer) || !String.IsNullOrEmpty(Model.garage) || !String.IsNullOrEmpty(Model.garage_type) || !String.IsNullOrEmpty(Model.garage_capacity) || !String.IsNullOrEmpty(Model.driveway))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">


                                    @if (!String.IsNullOrEmpty(Model.water) || !String.IsNullOrEmpty(Model.sewer))
                                    {
                                        <h4 class="title"><b>Water & Sewer</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.water))
                                            {
                                                <li>Water Source:@Html.DisplayFor(m => m.water)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.sewer))
                                            {
                                                <li>Sewers: @Html.DisplayFor(m => m.sewer)</li>
                                            }

                                        </ul>
                                        <br />
                                    }
                                    @if (!String.IsNullOrEmpty(Model.garage) || !String.IsNullOrEmpty(Model.garage_type) || !String.IsNullOrEmpty(Model.garage_capacity) || !String.IsNullOrEmpty(Model.driveway))
                                    {
                                        <h4 class="title"><b>Parking & Garage</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.garage))
                                            {
                                                <li>Garage:@Html.DisplayFor(m => m.garage)</li>
                                            }@if (!String.IsNullOrEmpty(Model.garage_type))
                                            {
                                                <li>Garage Type:@Html.DisplayFor(m => m.garage_type)</li>
                                            }@if (!String.IsNullOrEmpty(Model.garage_capacity))
                                            {
                                                <li>Garage Capacity:@Html.DisplayFor(m => m.garage_capacity)</li>
                                            }@if (!String.IsNullOrEmpty(Model.driveway))
                                            {
                                                <li>DriveWay:@Html.DisplayFor(m => m.driveway)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }

                            @if (!String.IsNullOrEmpty(Model.detattached) || !String.IsNullOrEmpty(Model.new_constr) || !String.IsNullOrEmpty(Model.construct_type) || !String.IsNullOrEmpty(Model.exterior) || !String.IsNullOrEmpty(Model.appearance) || !String.IsNullOrEmpty(Model.siding) || !String.IsNullOrEmpty(Model.skylight) || !String.IsNullOrEmpty(Model.adult_comm) || !String.IsNullOrEmpty(Model.families) || !String.IsNullOrEmpty(Model.age) || !String.IsNullOrEmpty(Model.yr_built) || !String.IsNullOrEmpty(Model.section_area))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.detattached) || !String.IsNullOrEmpty(Model.new_constr) || !String.IsNullOrEmpty(Model.construct_type) || !String.IsNullOrEmpty(Model.exterior) || !String.IsNullOrEmpty(Model.appearance) || !String.IsNullOrEmpty(Model.siding) || !String.IsNullOrEmpty(Model.skylight))
                                    {
                                        <h4 class="title"><b>Building Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.detattached))
                                            {
                                                <li>Attached Detached<b>:</b>@Html.DisplayFor(m => m.detattached) </li>
                                            }@if (!String.IsNullOrEmpty(Model.new_constr))
                                            {
                                                <li>New Construction:@Html.DisplayFor(m => m.new_constr)</li>
                                            }@if (!String.IsNullOrEmpty(Model.construct_type))
                                            {
                                                <li>Consrtuction:@Html.DisplayFor(m => m.construct_type)</li>
                                            }@if (!String.IsNullOrEmpty(Model.exterior))
                                            {
                                                <li>Exterior:@Html.DisplayFor(m => m.exterior)</li>
                                            }@if (!String.IsNullOrEmpty(Model.appearance))
                                            {
                                                <li>Appearance:@Html.DisplayFor(m => m.appearance)</li>
                                            }@if (!String.IsNullOrEmpty(Model.siding))
                                            {
                                                <li>Siding:@Html.DisplayFor(m => m.siding)</li>
                                            }@if (!String.IsNullOrEmpty(Model.skylight))
                                            {
                                                <li>Skylight:@Html.DisplayFor(m => m.skylight)</li>
                                            }
                                        </ul>
                                    }

                                    @if (!String.IsNullOrEmpty(Model.adult_comm) || !String.IsNullOrEmpty(Model.families) || !String.IsNullOrEmpty(Model.age) || !String.IsNullOrEmpty(Model.yr_built) || !String.IsNullOrEmpty(Model.section_area))
                                    {
                                        <h4 class="title"><b>Property Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.section_area))
                                            {
                                                <li>Section Area:@Html.DisplayFor(m => m.section_area)</li>
                                            }@if (!String.IsNullOrEmpty(Model.yr_built))
                                            {
                                                <li>Year built:@Html.DisplayFor(m => m.yr_built)</li>
                                            }@if (!String.IsNullOrEmpty(Model.age))
                                            {
                                                <li>Age:@Html.DisplayFor(m => m.age)</li>
                                            }@if (!String.IsNullOrEmpty(Model.families))
                                            {
                                                <li>Number Of Families:@Html.DisplayFor(m => m.families)</li>
                                            }@if (!String.IsNullOrEmpty(Model.adult_comm))
                                            {
                                                <li>Adult Community:@Html.DisplayFor(m => m.adult_comm)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.pool) || !String.IsNullOrEmpty(Model.pool_desc) || !String.IsNullOrEmpty(Model.patio) || !String.IsNullOrEmpty(Model.porch) || !String.IsNullOrEmpty(Model.deck))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.pool) || !String.IsNullOrEmpty(Model.pool_desc))
                                    {
                                        <h4 class="title"><b>Pool Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.pool))
                                            {
                                                <li>Pool:@Html.DisplayFor(m => m.pool)</li>
                                            }@if (!String.IsNullOrEmpty(Model.pool_desc))
                                            {
                                                <li>Pool Description:@Html.DisplayFor(m => m.pool_desc)</li>
                                            }
                                        </ul>
                                        <br />
                                        <br />
                                    }  @if (!String.IsNullOrEmpty(Model.patio) || !String.IsNullOrEmpty(Model.porch) || !String.IsNullOrEmpty(Model.deck))
                                    {
                                        <h4 class="title"><b>Deck,Porch&Paito</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.deck))
                                            {
                                                <li>Deck:@Html.DisplayFor(m => m.deck)</li>
                                            }@if (!String.IsNullOrEmpty(Model.porch))
                                            {
                                                <li>Porch:@Html.DisplayFor(m => m.porch)</li>
                                            }@if (!String.IsNullOrEmpty(Model.patio))
                                            {
                                                <li>Paito:@Html.DisplayFor(m => m.patio)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding: 10px 20px;">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">Propert/Lot Details</a>
                            <div class="bgimg3"></div>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="col-xs-12 col-sm-4" style="padding: 0">
                                @if (!String.IsNullOrEmpty(Model.lot_size) || !String.IsNullOrEmpty(Model.sqft) || !String.IsNullOrEmpty(Model.lot_frontage) || !String.IsNullOrEmpty(Model.horseprop))
                                {
                                    <h4 class="title"><b>Lot Information</b></h4>
                                    <ul>
                                        @if (!String.IsNullOrEmpty(Model.lot_size))
                                        {
                                            <li>Lot Size :@Html.DisplayFor(m => m.lot_size)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.sqft))
                                        {
                                            <li>Lot Sq. Footage :@Html.DisplayFor(m => m.sqft)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.lot_frontage))
                                        {
                                            <li>Lot Frontage :@Html.DisplayFor(m => m.lot_frontage)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.horseprop))
                                        {
                                            <li>Lot Frontage :@Html.DisplayFor(m => m.horseprop)</li>
                                        }
                                    </ul>
                                }
                                @if (!String.IsNullOrEmpty(Model.sd_name) || !String.IsNullOrEmpty(Model.sd_number))
                                {
                                    <h4 class="title"><b>School Information</b></h4>
                                    <ul>
                                        @if (!String.IsNullOrEmpty(Model.sd_name))
                                        {
                                            <li>School Dist. Name @Html.DisplayFor(m => m.sd_name)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.sd_number))
                                        {
                                            <li>School Dist.#@Html.DisplayFor(m => m.sd_number)</li>
                                        }
                                    </ul>
                                }
                            </div>

                            @if (!String.IsNullOrEmpty(Model.waterview) || !String.IsNullOrEmpty(Model.waterfront) || !String.IsNullOrEmpty(Model.bulkhead) || !String.IsNullOrEmpty(Model.water_frontage) || !String.IsNullOrEmpty(Model.waterfront_desc) || !String.IsNullOrEmpty(Model.beachrights) || !String.IsNullOrEmpty(Model.dock))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">

                                    <h4 class="title"><b>Waterfront Information</b></h4>
                                    <ul>
                                        @if (!String.IsNullOrEmpty(Model.waterview))
                                        {
                                            <li>Waterview :@Html.DisplayFor(m => m.waterview)</li>
                                        }@if (!String.IsNullOrEmpty(Model.waterfront))
                                        {
                                            <li>Waterfront :@Html.DisplayFor(m => m.waterfront)</li>
                                        }@if (!String.IsNullOrEmpty(Model.bulkhead))
                                        {
                                            <li>Bulkhead :@Html.DisplayFor(m => m.bulkhead)</li>
                                        }@if (!String.IsNullOrEmpty(Model.water_frontage))
                                        {
                                            <li>Water frontage :@Html.DisplayFor(m => m.water_frontage)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.waterfront_desc))
                                        {
                                            <li>Waterfront Description :@Html.DisplayFor(m => m.waterfront_desc)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.beachrights))
                                        {
                                            <li>Beach Rights :@Html.DisplayFor(m => m.beachrights)</li>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.dock))
                                        {
                                            <li>Dock :@Html.DisplayFor(m => m.dock)</li>
                                        }
                                    </ul>


                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.tennis) || !String.IsNullOrEmpty(Model.tennis_desc) || !String.IsNullOrEmpty(Model.culdesac))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.tennis) || !String.IsNullOrEmpty(Model.tennis_desc))
                                    {
                                        <h4 class="title"><b>Tennis</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.tennis))
                                            {
                                                <li>Tennis :@Html.DisplayFor(m => m.tennis)</li>
                                            }@if (!String.IsNullOrEmpty(Model.tennis_desc))
                                            {
                                                <li>Tennis Description :@Html.DisplayFor(m => m.tennis_desc)</li>
                                            }


                                        </ul>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.village) || !String.IsNullOrEmpty(Model.county) || !String.IsNullOrEmpty(Model.culdesac))
                                    {
                                        <h4 class="title"><b>Location Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.village))
                                            {
                                                <li>Village :@Html.DisplayFor(m => m.village)</li>
                                            }@if (!String.IsNullOrEmpty(Model.county))
                                            {
                                                <li>Country  :@Html.DisplayFor(m => m.county)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.culdesac))
                                            {
                                                <li>Cul-de-sac  :@Html.DisplayFor(m => m.culdesac)</li>
                                            }

                                        </ul>
                                    }
                                </div>
                            }


                        </div>
                    </div>
                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding: 10px 20px;">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">Financial Consideration</a>
                            <div class="bgimg3"></div>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @if (Model.taxes != null || !String.IsNullOrEmpty(Model.village_tax) || !String.IsNullOrEmpty(Model.total_taxes))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">

                                    <h4 class="title"><b>Tax Information</b></h4>
                                    <ul>
                                        @if (Model.taxes != null)
                                        {
                                            <li>Taxes<b>:</b> @String.Format("{0:C}", Model.taxes)</li>
                                        }@if (!String.IsNullOrEmpty(Model.village_tax))
                                        {
                                            <li>Village Tax<b>: </b>@Html.DisplayFor(m => m.village_tax)</li>
                                        }@if (!String.IsNullOrEmpty(Model.total_taxes))
                                        {
                                            <li>Total Taxes<b>: </b>@Html.DisplayFor(m => m.total_taxes)</li>
                                        }
                                    </ul>

                                </div>
                            }
                            @if (Model.list_price != null)
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">

                                    <h4 class="title"><b>Price History</b></h4>
                                    <ul>
                                        <li>Current Listing Price:   @String.Format("{0:C}", Model.list_price) </li>
                                    </ul>

                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.foreclosure) || !String.IsNullOrEmpty(Model.REO) || !String.IsNullOrEmpty(Model.short_sale))
                            {
                                <div class="col-xs-12 col-sm-4" style="padding: 0">

                                    <h4 class="title"><b>Foreclosure/Short Sale</b></h4>
                                    <ul>
                                        @if (!String.IsNullOrEmpty(Model.foreclosure))
                                        {
                                            <li>Foreclosure:@Html.DisplayFor(m => m.foreclosure)</li>
                                        }@if (!String.IsNullOrEmpty(Model.REO))
                                        {
                                            <li>REO:@Html.DisplayFor(m => m.REO)</li>
                                        } @if (!String.IsNullOrEmpty(Model.short_sale))
                                        {
                                            <li>Short Sale:@Html.DisplayFor(m => m.short_sale)</li>
                                        }
                                    </ul>

                                </div>
                            }
                        </div>
                    </div>
                </div>

                @if (Model.list_type.ToLower() == "condo" || Model.list_type.ToLower() == "co-op")
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding: 10px 20px;">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour111">Condo/Coop Information</a>
                                <div class="bgimg3"></div>
                            </h4>
                        </div>
                        <div id="collapseFour111" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.unit_number) || !String.IsNullOrEmpty(Model.adult_comm) || !String.IsNullOrEmpty(Model.gated) || !String.IsNullOrEmpty(Model.detattached) || !String.IsNullOrEmpty(Model.development) || !String.IsNullOrEmpty(Model.end_unit) || !String.IsNullOrEmpty(Model.fl_number))
                                    {
                                        <h4 class="title"><b>Location Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.unit_number))
                                            {
                                                <li>Unit Number<b>:</b> @Html.DisplayFor(m => m.unit_number)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.adult_comm))
                                            {
                                                <li>Adult Community<b>: </b>@Html.DisplayFor(m => m.adult_comm)</li>
                                            }@if (!String.IsNullOrEmpty(Model.gated))
                                            {
                                                <li>Gated<b>: </b>@Html.DisplayFor(m => m.gated)</li>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.detattached))
                                            {
                                                <li>Attached Detached<b>: </b>@Html.DisplayFor(m => m.detattached)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.development))
                                            {
                                                <li>Development<b>: </b>@Html.DisplayFor(m => m.development)</li>
                                            }   @if (!String.IsNullOrEmpty(Model.end_unit))
                                            {
                                                <li>End unit<b>: </b>@Html.DisplayFor(m => m.end_unit)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.fl_number))
                                            {
                                                <li>Floor Number<b>: </b>@Html.DisplayFor(m => m.fl_number)</li>
                                            }
                                        </ul>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.parking) || !String.IsNullOrEmpty(Model.parking_fees) || !String.IsNullOrEmpty(Model.parking_spaces))
                                    {
                                        <h4 class="title"><b>Parking Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.parking))
                                            {
                                                <li>Parking<b>:</b> @Html.DisplayFor(m => m.parking)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.parking_fees))
                                            {
                                                <li>Parking Fees<b>: </b>@Html.DisplayFor(m => m.parking_fees)</li>
                                            }@if (!String.IsNullOrEmpty(Model.parking_spaces))
                                            {
                                                <li>Parki<b>: </b>@Html.DisplayFor(m => m.parking_spaces)</li>
                                            }
                                        </ul>
                                    }
                                </div>

                                @if (!String.IsNullOrEmpty(Model.num_fl_units) || !String.IsNullOrEmpty(Model.floors) || !String.IsNullOrEmpty(Model.elevator) || !String.IsNullOrEmpty(Model.patio_terr) || !String.IsNullOrEmpty(Model.pets) || !String.IsNullOrEmpty(Model.aux_rooms) || !String.IsNullOrEmpty(Model.smoking) || !String.IsNullOrEmpty(Model.amenities) || !String.IsNullOrEmpty(Model.association))
                                {

                                    <div class="col-xs-12 col-sm-4" style="padding: 0">

                                        <h4 class="title"><b>Building Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.num_fl_units))
                                            {
                                                <li>Number of Floors in Unit<b>: </b>@Html.DisplayFor(m => m.num_fl_units)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.floors))
                                            {
                                                <li>Number of Floors in Building<b>: </b>@Html.DisplayFor(m => m.floors)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.elevator))
                                            {
                                                <li>Elevator<b>: </b>@Html.DisplayFor(m => m.elevator)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.patio_terr))
                                            {
                                                <li>Patio/Terrace<b>: </b>@Html.DisplayFor(m => m.patio_terr)</li>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.pets))
                                            {
                                                <li>Pets<b>: </b>@Html.DisplayFor(m => m.pets)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.aux_rooms))
                                            {
                                                <li>Auxiliary Rooms<b>: </b>@Html.DisplayFor(m => m.aux_rooms)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.smoking))
                                            {
                                                <li>Smoking<b>: </b>@Html.DisplayFor(m => m.smoking)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.amenities))
                                            {
                                                <li>Amenities<b>: </b>@Html.DisplayFor(m => m.amenities)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.association))
                                            {
                                                <li>Association<b>: </b>@Html.DisplayFor(m => m.association)</li>
                                            }

                                        </ul>

                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(Model.comm_charges) || !String.IsNullOrEmpty(Model.deduct_per) || !String.IsNullOrEmpty(Model.hoa) || !String.IsNullOrEmpty(Model.hoa_fees_inc) || !String.IsNullOrEmpty(Model.max_finance) || !String.IsNullOrEmpty(Model.coop_shares) || !String.IsNullOrEmpty(Model.maint) || !String.IsNullOrEmpty(Model.maint_deduct) || !String.IsNullOrEmpty(Model.shares))
                                {

                                    <div class="col-xs-12 col-sm-4" style="padding: 0">

                                        <h4 class="title"><b>Financial Information</b></h4>
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.comm_charges))
                                            {
                                                <li>Common Charges<b>: </b>@Html.DisplayFor(m => m.comm_charges)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.deduct_per))
                                            {
                                                <li>Percent Deductible<b>: </b>@Html.DisplayFor(m => m.deduct_per)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.hoa))
                                            {
                                                <li>Home Owners Assoc.<b>: </b>@Html.DisplayFor(m => m.hoa)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.hoa_fees_inc))
                                            {
                                                <li>Home Owners Assoc. Inc.<b>: </b>@Html.DisplayFor(m => m.hoa_fees_inc)</li>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.max_finance))
                                            {
                                                <li>Maximum Financing<b>: </b>@Html.DisplayFor(m => m.max_finance)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.coop_shares))
                                            {
                                                <li>Coop Shares<b>: </b>@Html.DisplayFor(m => m.coop_shares)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.maint))
                                            {
                                                <li>Maintenance<b>: </b>@Html.DisplayFor(m => m.maint)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.maint_deduct))
                                            {
                                                <li>Maintenance % Deduct<b>: </b>@Html.DisplayFor(m => m.maint_deduct)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.shares))
                                            {
                                                <li>Shares<b>: </b>@Html.DisplayFor(m => m.shares)</li>
                                            }

                                        </ul>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                @if (Model.list_type.ToLower() == "rental")
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding: 10px 20px;">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour111">Rental Information</a>
                                <div class="bgimg3"></div>
                            </h4>
                        </div>
                        <div id="collapseFour111" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div class="col-xs-12 col-sm-4" style="padding: 0">
                                    @if (!String.IsNullOrEmpty(Model.apt_loc) || !String.IsNullOrEmpty(Model.lease_yrs) || !String.IsNullOrEmpty(Model.deposit) || !String.IsNullOrEmpty(Model.priv_entrance) || !String.IsNullOrEmpty(Model.occupy) || !String.IsNullOrEmpty(Model.opt_buy))
                                    {
                                        @*<h4 class="title"><b>Location Information</b></h4>*@
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.apt_loc))
                                            {
                                                <li>Apartment Location<b>:</b> @Html.DisplayFor(m => m.apt_loc)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.lease_yrs))
                                            {
                                                <li>Lease Years<b>: </b>@Html.DisplayFor(m => m.lease_yrs)</li>
                                            }@if (!String.IsNullOrEmpty(Model.deposit))
                                            {
                                                <li>Deposit<b>: </b>@Html.DisplayFor(m => m.deposit)</li>
                                            }

                                            @if (!String.IsNullOrEmpty(Model.priv_entrance))
                                            {
                                                <li>priv_entrance<b>: </b>@Html.DisplayFor(m => m.priv_entrance)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.occupy))
                                            {
                                                <li>occupancy<b>: </b>@Html.DisplayFor(m => m.occupy)</li>
                                            }   @if (!String.IsNullOrEmpty(Model.opt_buy))
                                            {
                                                <li>Option to Buy<b>: </b>@Html.DisplayFor(m => m.opt_buy)</li>
                                            }
                                        </ul>
                                    }

                                </div>

                                @if (!String.IsNullOrEmpty(Model.gas_meter) || !String.IsNullOrEmpty(Model.cable) || !String.IsNullOrEmpty(Model.garbage) || !String.IsNullOrEmpty(Model.yard))
                                {
                                    <div class="col-xs-12 col-sm-4" style="padding: 0">
                                        @*<h4 class="title"><b>Building Information</b></h4>*@
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.gas_meter))
                                            {
                                                <li><b>Gas Meter: </b>@Html.DisplayFor(m => m.gas_meter)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.cable))
                                            {
                                                <li>Cable<b>: </b>@Html.DisplayFor(m => m.cable)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.garbage))
                                            {
                                                <li>Garbage<b>: </b>@Html.DisplayFor(m => m.garbage)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.yard))
                                            {
                                                <li>Yard<b>: </b>@Html.DisplayFor(m => m.yard)</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(Model.comm_charges) || !String.IsNullOrEmpty(Model.deduct_per) || !String.IsNullOrEmpty(Model.hoa) || !String.IsNullOrEmpty(Model.hoa_fees_inc) || !String.IsNullOrEmpty(Model.max_finance) || !String.IsNullOrEmpty(Model.coop_shares) || !String.IsNullOrEmpty(Model.maint) || !String.IsNullOrEmpty(Model.maint_deduct) || !String.IsNullOrEmpty(Model.shares))
                                {
                                    <div class="col-xs-12 col-sm-4" style="padding: 0">

                                        @*<h4 class="title"><b>Financial Information</b></h4>*@
                                        <ul>
                                            @if (!String.IsNullOrEmpty(Model.smoking))
                                            {
                                                <li>Smoking<b>: </b>@Html.DisplayFor(m => m.smoking)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.pets))
                                            {
                                                <li>Pets<b>: </b>@Html.DisplayFor(m => m.pets)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.parking))
                                            {
                                                <li>Parking<b>: </b>@Html.DisplayFor(m => m.parking)</li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.parking_spaces))
                                            {
                                                <li>Parking Spaces<b>: </b>@Html.DisplayFor(m => m.parking_spaces)</li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @*TODO: Implement the new design sent by bala to your mail and put the code here*@
</div>
<input type="hidden" id="hdnMl_number" value="@ViewBag.ml_number" />

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.8/src/markerwithlabel.js"></script>
<script>
    @*$("#btnNextAddress").click(function(){

        var next="Next";
        window.location.href = '@Url.Action("Listings", "Home")?NextAgent='+next;
    });

    $("#btnPreviousAddress").click(function(){
        var next="Prev";
        window.location.href = '@Url.Action("Listings", "Home")?NextAgent='+next;
    });*@
    $(document).ready(function () {
        debugger;

        var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
        var i;
        for (i=0;i<6;i++){
            debugger;
            var a = alpha[Math.floor(Math.random() * alpha.length)];
            var b = alpha[Math.floor(Math.random() * alpha.length)];
            var c = alpha[Math.floor(Math.random() * alpha.length)];
            var d = alpha[Math.floor(Math.random() * alpha.length)];
            var e = alpha[Math.floor(Math.random() * alpha.length)];
            var f = alpha[Math.floor(Math.random() * alpha.length)];
            var g = alpha[Math.floor(Math.random() * alpha.length)];
        }
        var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;
        $('#mainCaptcha').text(code);

        $('#refresh').click(function()
        {
            debugger;
            var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
            var i;
            for (i=0;i<6;i++){
                debugger;

                var a = alpha[Math.floor(Math.random() * alpha.length)];
                var b = alpha[Math.floor(Math.random() * alpha.length)];
                var c = alpha[Math.floor(Math.random() * alpha.length)];
                var d = alpha[Math.floor(Math.random() * alpha.length)];
                var e = alpha[Math.floor(Math.random() * alpha.length)];
                var f = alpha[Math.floor(Math.random() * alpha.length)];
                var g = alpha[Math.floor(Math.random() * alpha.length)];
            }
            var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;

            $('#mainCaptcha').text(code);
            return false;
        });



        $("#CaptchaInputText").addClass("form-control");

        var hoverData = "<p>@Model.street , @Model.county </p><p> @String.Format("{0:C}", Model.list_price) </p>";
        // alert(hoverData);

        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude)
        };
        map = new google.maps.Map(document.getElementById('map-canvas_marker'),
            mapOptions);


        var newmarker = new MarkerWithLabel({
            position: map.getCenter(),
            map: map,
            icon: '@Url.Content("~/images/mouse_off.png")',
            draggable: false,
            html: hoverData,
            mapdiv: '15SS',
            raiseOnDrag: false,

            labelInBackground: false
        });
        var contentString = "test";
        var infowindow = new google.maps.InfoWindow({
            content: contentString
            // put  it  default data  don't remove
        });
        google.maps.event.addListener(newmarker, "mouseover", function (e) {
            this.setIcon('@Url.Content("~/images/mouse_on.png")');
            infowindow.setContent(this.html);
            infowindow.open(map, this);

        });
        google.maps.event.addListener(newmarker, 'mouseout', function () {
            //this.set('labelContent', "<div id='circle_off'></div>");
            this.setIcon('@Url.Content("~/images/mouse_off.png")');
            infowindow.close();
        });


        $('#myCarouseltest').carousel({
            interval: 3000
        });

        $("#btnBack").click(function () {
            history.back();
            return false;
        });
        $("#printagent").click(function () {
            debugger;

            window.print();

            //var divContents = $("#dvPrint").html();
            //var printWindow = window.open();
            //printWindow.document.write('<html><head><title>AgentDetail</title>');
            //printWindow.document.write('</head><body>');
            //printWindow.document.write(divContents);
            //printWindow.document.write('</body></html>');
            //printWindow.document.close();
            //printWindow.print();
        });



        function removeSpaces(string){
            return string.split(' ').join('');
        }
        $("#btnSendAgentEmail").click(function () {
            debugger;

            var mlNumber = '@Model.ml_number';
            var agentFirstName = '@Model.FIRST_NAME';
            var AgentEmail = '@Model.EMAIL_ADDRESS';
            var CustomerEmail = $("#txtFromEmail").val();
            var name = $("#txtName").val();
            var query = $("#txtAreaQuery").val();
            var pattern = /^\d{10}$/;

            var captcha=$("#txtInput").val();
            var maincaptcha= $("#mainCaptcha").text();
            var string1 = removeSpaces(maincaptcha);
            var string2 = removeSpaces(document.getElementById('txtInput').value);

            if(captcha=="")
            {
                alert("Please enter the text");
                return false;
            }
            else if(string1 != string2)
            {
                //$("#txtInput").val("");
                alert("Captcha must be match");
                return false;
            }
            if (name!= "" && query!= "" && CustomerEmail!= "")
            {

                debugger;
                if (ValidateEmail(CustomerEmail)) {
                    $.ajax({
                        url: "@Url.Action("SendQuery", "Agents")",
                        data: { mlNumber: mlNumber, AgentName: agentFirstName, CustomerEmail: CustomerEmail, AgentEmail: AgentEmail, name: name, query: query },
                        success: function () {
                            debugger;
                            alert("Mail sent successfully");
                            $("#txtName").val("");
                            $("#txtFromEmail").val("");
                            $("#txtAreaQuery").val("");
                            $("#txtInput").val("");
                        }
                    })
                } else {
                    alert("phone number and email  should be valid");
                    $("#txtFromEmail").val("");
                    $("#txtName").val("");
                    $("#txtAreaQuery").val("");

                    return false;
                }
            }
            else {
                alert("please enter all details ");
                $("#txtFromEmail").val("");
                $("#txtName").val("");
                $("#txtAreaQuery").val("");
                return false;
            }
        });
    });

    function AgentContact(agentId){
        debugger;
        window.location.href='@Url.Action("AgentDetails", "Agents")?AgentID='+agentId;
    }

    function AgentListings(agentId){
        debugger;
        window.location.href='@Url.Action("AgentDetails","Agents")?AgentID='+agentId;
    }

    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email.trim());
    };
</script>
